@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title.</h2>

<div>
    <h1>ProduktAnsvarig</h1>
    <p>Företagets Produktansvariga är Nick Johannesson. Nick är företagets Mastermind på Pokémons och fick därför vara vår produktansvariga.</p>
</div>
<div>
    <h1>VD</h1>
    <p>Företagets VD är Markus Carlsson. Markus har koll på det mesta inom företaget och är blondast därför fick han bli vår VD.</p>
</div>
<div>
    <h1>Utvecklare</h1>
    <p>Företagets Utvecklare är Elvir Dzeko. Elvir är ett riktigt geni på att programmera så då fick han bli vår Utvecklare.</p>
</div>
<div>
    <h1>Skaparna</h1>
    <p> Denna sidan har skapats av Nick, Elvir och Markus </p>
</div>