@{
    ViewBag.Title = "Home Page";
}




<div class="row" id="frontPageBlocks">

    <div class="col-md-4">
        <h2 class="">Senaste</h2>
        <a href="@Url.Action("Products","Product")" style="background-image: url('/images/sale.jpg')">
            <!--<img src="~/images/sale.jpg"  alt="bild" height="600" />-->
            </a>
    </div>

    <div class="col-md-4">
        <h2>Nyheter</h2>
        <a href="@Url.Action("Contact","Home")" style="background-image: url('/images/nyheter.jpg')">
            <!--<img src="~/images/nyheter.jpg" alt="bild"  height="600" /> <span class="col-lg-12"></span>-->
            </a>
    </div>

    <div class="col-md-4">
        <h2>Nytt</h2>
        <a href="@Url.Action("Products","Product")" style="background-image: url('/images/approved.jpg')">
            <!---<img src="~/images/approved.jpg" alt="bild" height="600" /> <span class="col-lg-12"></span>-->
        </a>
    </div>

</div>

<div class="jumbotron" style="background-color:darkseagreen">
    <h1>PokéMart</h1>
    <p class="lead">Detta är inte slavhandel, detta är bara Pokémon. Kom och köp hos oss!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Erbjudanden! &raquo;</a></p>
</div>